<a href="https://colab.research.google.com/github/daekwon0/data_science_club/blob/main/notebooks/DSC_2/DSC_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### AT&T Data Science Club Bothell Worksheet #2

This week will cover modeling, specifically regression through Anna Monotyra and DataCanary's House Prices dataset and regression notebook on Kaggle. For a more in-depth description and submissions, click here: https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview.

Reference: www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview/citation

In [13]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

# import more libraries here

In [16]:
# from google.colab import files
# uploaded = files.upload()

In [15]:
# import the data
test = pd.read_csv('test.csv')
train = pd.read_csv("train.csv")
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

__Question 1__: Before you jump into the data and modeling, it's always important to take a look at the data and what the problem statement is. Take a minute to click on the kaggle link above, and read through the overview and column descriptions.

__Question 1a__: Where are these houses located?

__Question 1b__: What is the overarching goal for this competition?

__Question 1c__: What features do you think would be useful for your prediction?

__Question 2__: Now that you've done a general overview of the dataset and the ultimate goal of this competition, what models do you think would be a good fit for our project?

__Question 3__: Now that you've decided on a model, feel free to use external resources to implement your model. If you don't know where to start or how to implement your model, you can look below at the code for an example model walkthrough.

In [ ]:
#import your model of choice (in this case, a random forest classifier)
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

# take only the non-categorical data; you can encode the data here, but for a simple example we'll filter out the unorganizable data
# make sure you know what kind of data your model can take!
train_fil = train[['MSSubClass', 'LotFrontage',	'LotArea', 'ScreenPorch', 'PoolArea', 'MoSold', 'SalePrice']]

# today, we will just rely on getting the model trained on the training set only. when you submit, run it against the entire training set!
X = train_fil.drop(['SalePrice'], axis = 1) # --> when you drop, you can't run it again as the column will not exist!
y = train_fil[['SalePrice']] # --> important to note that while indexing the table, you should make the validation data a table as well and not a Series
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# y_test = test[['SalePrice']] --> this column is not necessary as the final validation dataset is available only through the submission to the kaggle competition

# initialize the model
clf = DecisionTreeRegressor(random_state = 42) # -> clf stands for classifier, this is often used when initializing the model
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
mse = mean_absolute_error(y_test, predictions)
mse