In [9]:
import pandas as pd

In [10]:
# import datasets
#internal_all = pd.read_csv("internal_all.csv", encoding='unicode_escape')
urls = pd.read_csv("urls.csv")
valid_urls = pd.read_csv("valid_urls.csv")

valid_urls.head(5)

,loc,lastmod,changefreq,priority
0,https://www.att.com/,2025-11-25,daily,1.0
1,https://www.att.com/5g/consumer/,2025-11-25,daily,1.0
2,https://www.att.com/5g/coverage-map/,2025-11-25,daily,1.0
3,https://www.att.com/accessories/,2025-11-25,daily,1.0
4,https://www.att.com/accessories/best-wireless-...,2025-11-25,daily,1.0

In [11]:
urls.head(5)

,URL,IMPRESSIONS,QUERY
0,https://serviceguidenew.att.com/apex/Sg_conten...,3545,"""92 9th avenue"" lachine synagogue, 1 at&t way ..."
1,https://www.att.com/stores/california/van-nuys...,2169,"""at&t"", 24 hour att customer service, a t & t ..."
2,https://www.att.com/local/internet/florida/wes...,2089,"""commercial internet"", access from at&t, affor..."
3,https://about.att.com/sites/supplier_diversity...,321,"""i live in the united states"" i evaluate telec..."
4,https://investors.att.com/resources/faqs,34556,"""i live in the united states"" i rely on teleco..."

In [13]:
# filter for urls 
urls['QUERY_COUNT'] = urls['QUERY'].str.count(',') + 1
filtered_urls = urls[urls['QUERY_COUNT'] > 0]
filtered_urls = filtered_urls.dropna()
final_urls = pd.merge(filtered_urls, valid_urls, left_on = "URL", right_on = "loc", how = "inner")
final_urls = final_urls.drop(columns=['loc', 'changefreq', 'priority', 'lastmod'])
final_urls.head()

,URL,IMPRESSIONS,QUERY,QUERY_COUNT
0,https://www.att.com/buy/wearables/apple-watch-...,531,"40mm apple watch se 2, 40mm apple watch se 2nd...",120.0
1,https://www.att.com/buy/accessories/Cases/peli...,9,"4226t att, att 4651s",2.0
2,https://www.att.com/wireless/free-trial/,236008,"""at, ""at&t"", ""at&t"" | ""att.com"" | ""at&t inc."",...",7049.0
3,https://www.att.com/support/article/my-account...,150066,"*225#, *pay att, .com/billing, .my att, 1800 a...",2775.0
4,https://www.att.com/buy/accessories/Chargers/t...,2908,"+tylt, 4027s att, 4907q att, 4949r att, at&t p...",97.0

In [14]:
final_urls.to_csv("final_urls.csv")